appdirs==1.4.4
atomicwrites==1.4.0
docutils==0.21.2
id==1.5.0
jsonpointer==2.1
matplot==0.1.9
matplotlib==3.9.2
networkx==2.7.1
nh3==0.2.20
pandas==1.3.3
prettytable==3.14.0
protobuf==4.25.3
pyasn1-modules==0.2.8
pyloco==0.0.139
pyls-spyder==0.4.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
readme_renderer==44.0
rfc3986==2.0.0
setuptools==75.1.0
SimpleWebSocketServer==0.1.2
twine==6.1.0
typing==3.7.4.3
ushlex==0.99.1
wheel==0.44.0
